body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 28px;
    color: #e3d8d8;
    text-shadow: 2px 2px 4px rgba(179, 173, 173, 0.5);
    font-weight: bold;
    font-family: "Arial", sans-serif;
}

.background {
    height: 100%;
    background-image: url('https://i.pinimg.com/originals/c3/1c/bf/c31cbf8d7af9ddb327f1720ceca83e6b.png'), url('https://i.pinimg.com/originals/c3/1c/bf/c31cbf8d7af9ddb327f1720ceca83e6b.png');
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#date {
    font-size: 48px;
    color: #e3d8d8;
    text-shadow: 2px 2px 4px rgba(179, 173, 173, 0.5);
    font-weight: bold;
    font-family: "Arial", sans-serif;
}